*{
margin:0;
padding:0;
}
body{
background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsGQdG19jCN70qJ1IsE_hf5dglG0QzZynO7A&usqp=CAU");
}
.name{
    font-size: 45px;
    font-weight: bold;
    position:absolute;
    top: 40%;
    left:30%;
    transform:translate(-30%,-40%);
}
img{
    width:25%;
    height:55%;
    position: absolute;
    top: 40%;
    left:80%;
    transform:translate(-80%,-40%);

}
a{
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding:5px;
    border:2px solid black;
    
}
a:hover{
    box-sizing: border-box;
    box-shadow: 3px 3px 3px 3px black;
}
.dashboard{
    position:relative;
    top:20px;
    display: flex;
    justify-content:space-around;
    padding-left: 30%;
    padding-right: 30%;
}


